@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-zinc-950;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-zinc-950 antialiased text-zinc-100;
    font-feature-settings: 'cv11', 'ss01';
    font-variation-settings: 'opsz' 32;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #09090b;
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
  border: 2px solid #09090b;
}
::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
